# Big working files
*.psd

# Visual Studio / MSVC build artifacts
.vs/
*.obj
*.pdb
*.ilk
*.ipch
*.pch
*.exp
*.lib
*.dll

# CMake
build/
out/
CMakeFiles/
CMakeCache.txt
compile_commands.json
save/
*.aps
