# Big working files
*.psd

# Visual Studio / MSVC build artifacts
.vs/
*.obj
*.pdb
*.ilk
*.ipch
*.pch
*.exp
*.lib
*.dll

# CMake
build/
out/
CMakeFiles/
CMakeCache.txt
compile_commands.json
save/
*.aps
*.aps

*.tlog/
*.log
src/version.h
msvc-full-features/vcpkg-static/
msvc-full-features/**/Release/
msvc-full-features/**/Debug/
src/version.h
*.aps
*.tlog/
*.log
msvc-full-features/vcpkg-static/
msvc-full-features/**/Release/
msvc-full-features/**/Debug/
dist/

# archives
*.zip
